body {
  padding: 1rem 1.5rem;
  font: 1.5rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2014/05/28/15/10/eletronica-356598_960_720.jpg");
  background-repeat: no-repeat;
}
.keys{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 110px;
}
.key{
  display: inline-block;
  text-align: center;
  font-size: large;
  padding: .5rem;
  margin: .5rem;
  color: rgb(243, 207, 0);
  border: 1px solid black;
  background-color: rgba(0, 0, 0, .8);
  text-shadow: 0 0 5px black;
  transition: all 0.07s;
}
.key span{
  color: aliceblue;
}
/* clase que se activa al presionar */
.playing{
  transform: scale(1.17);
  border-color: rgb(243, 207, 0);
  box-shadow: 0 0 10px rgb(243, 207, 0);
}
